body {
    background: url("../images/photo_bg.jpg") no-repeat center center fixed;
    background-size: cover;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
    color: #666;
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}

#content {
    width: 100%;
    float: left;
    height: 100%;
}

.validation-summary-errors {
    color: #ff0000;
}

#fileUploadDivBtn {
    padding: 5px 10px;
    /*background: #00ad2d;*/
    background: rgb(28,187,255);
    /*border: 1px solid #00ad2d;*/
    border: 1px solid rgb(28,187,255);
    position: relative;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    float: left;
    cursor: pointer;
}

    #fileUploadDivBtn .hideBtn {
        position: absolute;
        z-index: 1000;
        opacity: 0;
        cursor: pointer;
        right: 0;
        top: 0;
        height: 100%;
        font-size: 20px;
        width: 100%;
    }

#leftNav {
    float: left;
    width: 15%;
    height: 100%;
    background-color: #393939;
    color: #fff;
}

    #leftNav ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    #leftNav li {
        padding: 7px;
        margin: 0px;
        height: 25px;
        font-size: 12px;
        font-family: Tahoma;
        border-bottom: 1px solid #888;
    }

        #leftNav li a {
            text-decoration: none;
            color: #fff;
        }


#mainContent {
    padding-left: 0.5%;
    float: left;
    width: 84%;
    height: 100%;
}

    #mainContent h2 {
        color: #444;
    }

    #mainContent fieldset {
        float: left;
        height: 100%;
        width: 98%;
    }

    #mainContent legend {
        font-size: 10px;
    }

    #mainContent #workflowNav {
        float: left;
        width: 98%;
        margin: 0 1%;
    }

#clientDetailsform tr td {
    border-bottom: 1px solid #eee;
}

.basicForm {
    font-size: 10px;
    width: 100%;
}

    .basicForm td {
        padding: 5px;
    }

    .basicForm textarea {
        width: 100%;
    }

    .basicForm button {
        margin-top: 0px;
        border: 0;
        border-radius: 2px;
        color: white;
        padding: 10px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.7em;
        letter-spacing: 1px;
        /*background-color: #665851;*/
        cursor: pointer;
        outline: none;
        font-size: 11px;
    }

    .basicForm .btnSubmit {
        background-color: rgb(238,97,41);
    }

    .basicForm .btnGray {
        background-color: #bbb;
    }

    .basicForm button:hover {
        opacity: 0.7;
        transition: 0.5s;
    }

    .basicForm button:hover {
        opacity: 0.7;
        transition: 0.5s;
    }
/* Typography */
h1#title {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 3.2em;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    margin: 0 auto;
    padding-top: 180px;
    max-width: 300px;
    text-align: center;
    position: relative;
    top: 0px;
}

    h1#title span span {
        font-weight: 400;
    }

h2 {
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.4em;
    line-height: 2.8em;
}

a {
    text-decoration: none;
    color: #666;
}

    a:hover {
        color: #aeaeae;
    }

p.small {
    font-size: 0.8em;
    margin: 20px 0 0;
}


/* Layout */
.container {
    margin: 0;
}

.top {
    margin: 0;
    padding: 0;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.login-box {
    background-color: white;
    max-width: 340px;
    margin: 0 auto;
    /*position: relative;*/
    top: 80px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 50px rgba(0,0,0,0.4);
    text-align: center;
}

    .login-box .box-header {
        /*background-color: #665851;*/
        background-color: rgb(238,97,41);
        margin-top: 0;
        border-radius: 5px 5px 0 0;
    }

    .login-box label {
        font-weight: 700;
        font-size: .8em;
        color: #888;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 2em;
    }

    .login-box input {
        margin-bottom: 20px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 2px;
        font-size: .9em;
        color: #888;
    }

        .login-box input:focus {
            outline: none;
            border-color: #665851;
            transition: 0.5s;
            color: #665851;
        }

    .login-box button {
        margin-top: 0px;
        border: 0;
        border-radius: 2px;
        color: white;
        padding: 10px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.7em;
        letter-spacing: 1px;
        /*background-color: #665851;*/
        background-color: rgb(238,97,41);
        cursor: pointer;
        outline: none;
    }

        .login-box button:hover {
            opacity: 0.7;
            transition: 0.5s;
        }

        .login-box button:hover {
            opacity: 0.7;
            transition: 0.5s;
        }

.selected {
    color: #665851!important;
    transition: 0.5s;
}

/* Animation Delay */
#logo {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 2s;
}

.login-box {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
}

/* Loader styles */

.loading-progress {
    background-color: #fff;
    bottom: 0;
    left: 0;
    margin: 0;
    opacity: .5;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20000;
}

.loading-panel {
    background-color: #fff;
    border: 2px solid #d6d7d7;
    color: gray;
    font-size: 20px;
    height: auto;
    left: 45%;
    padding: 25px 30px;
    position: fixed;
    top: 45%;
    z-index: 20001;
}

.loading-img {
    background: url(../images/loading.gif) no-repeat scroll 0 0 #fff;
    display: block;
    float: left;
    height: 32px;
    margin-right: 15px;
    width: 32px;
}

.loading-text {
    display: block;
    float: left;
    height: auto;
    padding-top: 6px;
    width: 75px;
}
